<script src="../checkCountry.js"></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <script>
            var countryPrefix = localStorage.getItem('urlPrefix');
            function changePassword() {
                var currentPassword = document.getElementById("currentPassword").value;
                var newPassword = document.getElementById("newPassword").value;
                var confirmNewPassword = document.getElementById("confirmNewPassword").value;

                if (document.getElementById("changePasswordForm").checkValidity()) {
                    if (newPassword !== confirmNewPassword) {
                        alert("New passwords do not match. Please try again.");
                        return;
                    }

                    var data = {
                        currentPassword: currentPassword,
                        newPassword: newPassword
                    };

                    fetch(new Request('/api/changePassword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                        },
                        body: JSON.stringify(data)
                    })).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        if (!data.success) {
                            alert(data.errorMsg || 'An error occurred. Please try again.');
                        } else {
                            alert('Password changed successfully!');
                            window.location.href = '/B/' + countryPrefix + '/memberProfile.html';
                        }
                    }).catch(function (error) {
                        console.log(error);
                        alert('An unexpected error occurred. Please try again.');
                    });
                }
            }
        </script>
        <script src="menu2.js"></script>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Change Password</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <script src="/displayMessageLong.js"></script>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row featured-boxes login">
                            <div class="col-md-12">
                                <div class="featured-box featured-box-secundary default info-content">
                                    <div class="box-content">
                                        <h4>Change Your Password</h4>
                                        <form id="changePasswordForm" onsubmit="return false;">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Current Password</label>
                                                        <input type="password" id="currentPassword" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>New Password</label>
                                                        <input type="password" id="newPassword" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Confirm New Password</label>
                                                        <input type="password" id="confirmNewPassword" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input onclick="changePassword()" type="submit" value="Change Password" class="btn btn-primary pull-right push-bottom">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../footer.js"></script>
    </body>
</html>